%% -*- erlang -*-
{sub_dirs, [
           ]}.

{cover_enabled, true}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {i,"include"},
            {src_dirs, ["src"]}
            % {parse_transform, lager_transform},
            % {platform_define, "R15"}
            ]}.
{clean_files, ["ebin/*.beam",
               "priv/log/*",
               "deps/*",
               "rel/dccaclient"]}.

{deps_dir, ["deps"]}.
{deps, [
    %{edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}
]}.

{lib_dirs, ["apps", "deps"]}.
